*{text-align: center;
    background-color: wheat;
    margin: 15px;}
img{
    border-radius: 300px;
    width: 100px;
    height: 100px;
}
h1{
    border-bottom: 5pt solid grey;
}
h2{
    border-bottom: 3pt solid gray;
}
button:hover{
    background: none greenyellow;
}
i:hover{
    background: none greenyellow;
}